
/*========================================================= PAGE AND HEADING =================================================================*/
/* PAGE DIV FOR ALL VISIBLE CONTENT */
#page {
    background: linear-gradient(rgb(41, 40, 40), black);
}

/* HEADING CSS */
.headTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-size: 32px;
    text-align: center;
    color: gold;
    background: linear-gradient(brown, red);
    border-radius: 10px;
}

/*=========================================================== BUTTON PANEL ===================================================================*/

/* BUTTON PANEL CONTAINER */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 224, 224, 0.8);
    border-radius: 20px;
    padding-top: 10px;
    width: 70%;
    gap: 0px;
}

/* COLOR SELECTION */
.buttonContainer input {
    width: 90px;
    height: 40px;
    min-width: 50px;
}
.colorLabel {
    padding: 10px;
}

/* BUTTON CSS */
.buttonContainer button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e73be;
    color: #FFF;
    border-style: none;
    transition: 0.1s;
}
.buttonContainer button:hover {
    filter: brightness(1.1);
}
.buttonContainer button:active {
    box-shadow: #1e73be 0px 0px 5px 2px;
}
#button4 {
    background-color: rgb(202, 33, 33);
}
#button4:hover {
    filter: brightness(1.1);
}
#button4:active {
    box-shadow: rgb(202, 33, 33) 0px 0px 5px 2px;
}

/* BUTTON (BOARD SIZE) MODAL CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 20px;
    margin: 20% auto;
    width: 40%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}
.modal-content button {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #1e73be;
    color: #FFF;
    border-style: none;
    transition: 0.1s;
}
.modal-content button:hover {
    filter: brightness(1.1);
}
.modal-content button:active {
    box-shadow: #1e73be 0px 0px 5px 2px;
}

/*============================================================= GAME BOARD ===================================================================*/

/* GAME BOARD CSS */
.gameBoard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% auto;
    overflow: hidden;
    gap: 0px;
    padding: 0px;
    min-width: 50%;
    max-width: 960px;
    min-height: 100%;
    max-height: 960px;
}
.gameTile {
    margin: 0px;
    padding: 23px;
    min-width: 5px;
    min-height: 5px;
    border: black solid 1px;
}
#gameTileMed {
    margin: 0px;
    padding: 8px;
    min-width: 5px;
    min-height: 5px;
    border: black solid 1px;
}
#gameTileSmall {
    margin: 0px;
    padding: 4px;
    min-width: 5px;
    min-height: 5px;
    border: black solid 1px;
}

/*=============================================================== FOOTER =====================================================================*/

/* FOOTER */
.mainFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #000;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}
.mainFooter p {
    text-align: center;
    margin: 2px;
    padding: 0px;
}
.mainFooter a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s;
}
.mainFooter a:hover {
    filter: brightness(1.1);
}

/*========================================================= RESPONSIVE LAYOUT =================================================================*/

/*RESPONSIVE LAYOUT*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */ 
@media screen and (max-width: 40em) {
    #page {
        max-width: 40em;
    }
  }
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */ 
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #page {
        max-width: 64em;
        min-width: 40.063em;
    }
  } 
  /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */ 
  @media only screen and (min-width: 64.063em) and (max-width: 90em) {
    #page {
        max-width: 64.063em;
        min-width: 90em;
    }
  } 