* {
    font-family: 'Roboto', sans-serif;
}/*
body {
    background: url(images/olga-thelavart-vS3idIiYxX0-unsplash.jpg) no-repeat center fixed;
}*/

/* HEADER SECTION */
.header {
    background-color: #1F2937;
    color: white;
    padding: 0px 80px 40px 80px;
}

/* HEADER: NAVBAR SECTION */
.navbar-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.navbar-items ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.navbar-items ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    transition: 0.5s;
}
.navbar-items li a:hover {
    font-size: 19px;
    color: #FFFFFF;
    text-shadow: #E5E7EB;
}
/* HEADER: TITLE AND TEXT */
.header-panel {
    display: flex;
    justify-content: center;
    margin: 40px 140px;
    gap: 40px;
}
.panel-1 {
    padding: 10px 30px;
    flex: 1;
}
.panel-1 h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}
.panel-1 p {
    font-size: 18px;
    color: #E5E7EB;
}
.panel-1 a {
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
    padding: 7px 30px;
    border-radius: 10px;
    transition: 0.3s;
}
.panel-1 a:hover {
    transform: scale(1.1);
    background-color: #4e8ff8;
    color: #FFFFFF;
    border-style: solid;
    border-color: #F9FAF8;
}
/* HEADER: IMAGE PLACEHOLDER */
.panel-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(110, 110, 110);
    padding: 10px 10px;
    text-align: center;
    flex: 1;
}


/* BODY: TITLE */
.body-title {
    display: flex;
    margin: 40px;
}
.body-title h2 {
    margin: auto;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}


/* BODY: IMAGE PANEL */
.image-panel {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px 300px;
}
.image-panel div {
    display: flex;
    flex-direction: column;
}
.image-panel div img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    padding: 90px 5px;
}
.image-panel div p {
    text-align: center;
}


/* QUOTE PANEL */
.quote-panel {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px;
    margin: 80px 0px;
}
.quote-panel p {
    margin: auto;
    width: 58%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote-panel h3 {
    align-self: flex-end;
    width: 40%;
}

/* SIGNUP PANEL */
.signup-panel {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    margin: 40px;
    padding: 40px;
    width: 50%;
}
.signup-panel {
    margin: auto;
}
.signup-panel div {
    justify-self: center;
    align-self: center;
}

.signup-panel .signup-button a {
    align-self: flex-end;
    text-decoration: none;
    font-weight: bold;
    color: #F9FAF8;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    padding: 7px 30px;
    transition: 0.3s;
}
.signup-button a:hover {
    transform: scale(1.1);
    background-color: #F9FAF8;
    color: #3882F6;
    border-width: 3px;
    font-size: 17px;
}



/* FOOTER */
footer {
    display: flex;
    background-color: #1F2937;
    padding: 40px;
    margin-top: 80px;
}
footer p {
    margin: auto;
    text-align: center;
    color: #F9FAF8;
}

