/*RESPONSIVE LAYOUT*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */ 
@media screen and (max-width: 40em) {
    .page {
        max-width: 40em;
    }
    .site {
        min-width: 90%;
        margin: 2em;
    }
    .codingLogos {
        flex-wrap: wrap;
        margin: auto;
    }
    
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */ 
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .page {
        max-width: 64em;
        min-width: 40.063em;
    }
    .site {
        min-width: 90%;
        margin: 2em;
    }
    .codingLogos {
        flex-wrap: wrap;
        margin: auto;
    }
    
 } 
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */ 
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .page {
        max-width: 64.063em;
        min-width: 90em;
    }
 } 

/* WEBPAGE BACKGROUND */
.page {
    background-color: #263345;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}


/*============================================================== HEADER =======================================================================*/

/* HEADER CSS */
.mainHeader {
    padding: 10px;
    margin-bottom: 10px;
    color: #F9FAF8;
}
.nav-item a {
    text-decoration: none;
    color: #F9FAF8;
    margin-right: 50px;
}
.nav-item a:hover, .container-fluid a:hover {
    text-decoration: none;
    color: #FFF;
    text-shadow: #E5E7EB;
}
#mainNav {
    border-radius: 8px;
    padding: 20px;
}
#logo {
    text-decoration: none;
    color: #FFF;
}
#headerLogo {
    width: 20%;
}


/*============================================================== BODY =======================================================================*/

.textSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.mainText {
    max-width: 95%;
    margin: auto;
    color: #FFF;
    margin-bottom: 2em;
}
.mainText h1 {
    margin: 0.8em;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
.mainText a, .mainText img {
    transition: 0.3s;
}
.mainText a:hover, .mainText img:hover {
    transform: scale(1.05);
    filter:brightness(1.1);
}
#logoWhiteSVG {
    max-width: 30%;
}

.codingLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}
.codingLogos img {
    max-width: 40px;
    transition: 0.3s;
}
.codingLogos img:hover {
    transform: scale(1.05);
}

/* SITE MENU */
.siteMenu {
    margin-top: 1em;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    background-color: #263345;
}
.site {
    max-width: 40%;
    text-align: center;
    border: 2px #3882F6 solid;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #F9FAF8;
    box-shadow: #8fbee8 0px 0px 20px 5px;
}
.site:hover {
    transform: scale(1.05);
    color: #000;
}
.site a {
    text-decoration: none;
    color: #000;
    margin: 10px;
}
.site a:hover {
    color: #000;
}
.site p {
    margin: 5px 20px;
}
.site img {
    max-width: 90%;
    margin-bottom: 3em;
    border-radius: 8px;
    box-shadow: #494949 0px 0px 10px 5px;
}
.site h2 {
    padding: 10px;
    margin: auto;
    text-align: center;
}
.siteHeading4 h2 {
    font-family: 'Roboto', sans-serif;
}
#siteHeading1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.siteHeading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.siteHeading2 h2 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20px;
    font-size: 2.5vw;
}

#siteHeading2-1 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

#gameHeading1 {
    font-family: 'Russo One', sans-serif;
}
#gameHeading2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

.codeLink {
    margin: 0em 2em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.codeLink a {
    margin-top: 0px;
    border-radius: 16px;
    padding: 5px 10px;
    background-color: #FFF;
    border-style: solid;
    border-color: #1e73be;
    border-radius: 20px;
    color: #1e73be;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}
.codeLink a:hover {
    background-color: #1e73be;
    color: #FFF;
    transform: scale(1.05);
    box-shadow: #8fbee8 0px 0px 20px 5px;
}
#boldText {
    font-style: italic;
}

/*============================================================= FOOTER =====================================================================*/

.footerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    background-color: #212529;
    color: #F9FAF8;
}
.footerSection a {
    text-decoration: none;
    color: #F9FAF8;
}
.footerSection h1 {
    margin-top: 20px;
}
.footerSection hr {
    margin-top: 20px;
    border: 1px black solid;
    width: 30%;
}
#footerLogo {
    text-decoration: none;
    color: #000;
}

.footerRight p {
    max-width: 70%;
}

.footerLeft {
    margin: 20px 5px;
}
.footerLeft ul {
    list-style-type: none;
}
