/*RESPONSIVE LAYOUT*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */ 
@media screen and (max-width: 40em) {
    .page {
        max-width: 40em;
    }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */ 
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .page {
        max-width: 64em;
        min-width: 40.063em;
    }
 } 
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */ 
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .page {
        max-width: 64.063em;
        min-width: 90em;
    }
 } 

/* WEBPAGE BACKGROUND */
.page {
    background-color: #263345;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}


/*============================================================== HEADER =======================================================================*/

/* HEADER CSS */
.mainHeader {
    padding: 10px;
    margin-bottom: 10px;
    color: #F9FAF8;
}
.nav-item a {
    text-decoration: none;
    color: #F9FAF8;
    margin-right: 50px;
}
.nav-item a:hover, .container-fluid a:hover {
    text-decoration: none;
    color: #FFF;
    text-shadow: #E5E7EB;
}
#mainNav {
    border-radius: 8px;
    padding: 20px;
}

#logo {
    text-decoration: none;
    color: #FFF;
}
#headerLogo {
    width: 20%;
}


/*============================================================== BODY =======================================================================*/

.textSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.mainText {
    max-width: 100%;
    margin: auto;
    color: #FFF;
}
.mainText h1 {
    margin: 0.8em;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.codingLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}
.codingLogos img {
    max-width: 40px;
    transition: 0.3s;
}
.codingLogos img:hover {
    transform: scale(1.05);
}

.gameMenu {
    margin-top: 1em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
    background-color: #263345;
    
}
.game {
    max-width: 30%;
    text-align: center;
    border: 2px #3882F6 solid;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #F9FAF8;
    box-shadow: #8fbee8 0px 0px 20px 5px;
}
.game:hover {
    transform: scale(1.05);
}
.game a {
    text-decoration: none;
    color: #000;
    margin: 10px;
}
.game p {
    margin: 5px 20px;
}
.game img {
    max-width: 90%;
    margin-bottom: 3em;
    border-radius: 8px;
}
#gameHeading1 {
    font-family: 'Russo One', sans-serif;
}
#gameHeading2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}
#gameHeading3 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
}
#gameHeading3-1 {
    font-family: 'Courgette', cursive;
    font-size: 18px;
}

.siteMenu {
    margin-top: 1em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
    background-color: #263345;
    
}
.site {
    max-width: 40%;
    text-align: center;
    border: 2px #3882F6 solid;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #F9FAF8;
    box-shadow: #8fbee8 0px 0px 20px 5px;
}
.site:hover {
    transform: scale(1.05);
}
.site a {
    text-decoration: none;
    color: #000;
    margin: 10px;
}
.site p {
    margin: 5px 20px;
}
.site img {
    max-width: 90%;
    margin-bottom: 3em;
    border-radius: 8px;
}
#siteHeading1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
#siteHeading2 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}


/*============================================================= FOOTER =====================================================================*/

.footerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    background-color: #212529;
    color: #F9FAF8;
}
.footerSection a {
    text-decoration: none;
    color: #F9FAF8;
}
.footerSection h1 {
    margin-top: 20px;
}
.footerSection hr {
    margin-top: 20px;
    border: 1px black solid;
    width: 30%;
}
#footerLogo {
    text-decoration: none;
    color: #000;
}

.footerRight p {
    max-width: 70%;
}

.footerLeft {
    margin: 20px 5px;
}
.footerLeft ul {
    list-style-type: none;
}